
<h1> Add a new Critter</h1>


<form action="/prehistoric_creatures" method="POST">
    <label for ="creaturesType">Type </label>
    <input type="text" name="type" id="creatureType">   
​
    <label for="creatureName"> Image</label>
    <input type="text" name="img_url" id="creaturesName">
    
    <input type="submit">
</form>